//Fonts
$font-body: 'Roboto', sans-serif;
$font-menu-links: 'Baumans', cursive;

//Colors
$light-yellow: #fffde7;
$yellow: #fbc400;
$orange: #fba500;
$brown: #674f12;
$dark-gray: #424242;
$black: #000000;
$white: #ffffff;
