body {
  background-color: pink;
  margin: 0;
  font-family: $font-Roboto;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-Baumans;
  }

  header {
    background-color: lightgray;
  }

  .start-page {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    align-items: center;

    .quote-card {
      background-color: #000000;
      height: 151px;
      border-radius: 0px 50px;
      width: 299px;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;
      color: white;
    }
    .button-container {
      display: flex;
      flex-direction: column;
    }
  }

  //// MENU SECTION ////
  .menu-container {
    display: flex;
    flex-direction: column;
    article {
      border: 1px black solid;
    }
  }

  .cookie-text-container {
    .cookie-header {
      font-family: $font-Roboto;
    }
  }
}
