.yellow-button {
  background-color: $yellow;
  width: 210px;
  height: 55px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  &:hover {
    background-color: #fba500;
    cursor: pointer;
  }
}
