body {
  //// FOOTER ////
  footer {
    height: 308px;
    .subscribe-layout {
      align-items: flex-end;
      padding-top: 0;
      p {
        margin-right: 195px;
        margin-top: 0;
      }
      form {
        margin-right: 100px;
        margin-bottom: 50px;
      }
    }
  }
  //// COOKIE SECTION STYLING ////
  .cookie-container {
    display: flex;
    height: 186px;
    width: 100%;
    .cookie-text {
      width: 50%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
      margin-left: 100px;
    }
    .button-and-settings {
      width: 50%;
      padding-left: 0;
      padding-right: 0;
      margin-right: 100px;
      justify-content: flex-end;
    }
  }
}
