//// COOKIE STYLING ////
body {
  .cookie-container {
    height: 186px;
    background-color: rgb(106, 81, 16);
    .cookie-text {
      width: 50%;
      padding-left: 186px;
      padding-right: 86px;
    }
  }
}
