//// COOKIE SECTION STYLING ////
body {
  .cookie-container {
    height: 295px;
    opacity: 1;
    .cookie-text {
      padding-left: 86px;
      padding-right: 86px;
    }
    .button-and-settings {
      display: flex;
      gap: 30px;
      flex-direction: row;
      padding-left: 30%;
    }
  }
}
