body {
  //// HEADER ////

  // NAVIGATION TOGGLE AT CLICK ON HAMBURGER
  header {
    .navigation {
      width: 417px;
      right: 0;
      height: 1024px;
    }
  }

  //// MAIN ////
  main {
    .start-page {
      height: 1133px;
      .quote-card {
        width: 559px;
        margin-top: 400px;
        top: 0;
        h4 {
          font-size: 40px; //ÄNDRA TILL H3 HÄR?? ALTERNATIVT ALLTID H3 OCH ÄNDRA TEXTSTORLEK I MOBILLÄGE
        }
      }
    }
  }

  //// FOOTER ////

  footer {
    position: relative;
    height: 434px;

    address {
      text-align: left;
      position: absolute;
      left: 50px;
      top: 35px;
    }

    .subscribe-layout {
      display: flex;
      flex-direction: column;
      padding-top: 150px;
      p {
        text-align: left;
        margin-left: 50px;
      }
      form {
        padding-top: 25px;
        flex-direction: row;
        align-items: left;
        gap: 14px;
        margin-left: 50px;

        input {
          top: 0;
          margin-bottom: 0;
          width: 355px;
        }
      }

      //FIXA ICONS AND ALL RIGHTS TEXT NÄR JAG HAR INTERNET!! kanske behövs inte klassen nedan
      // .icons-and-all-rights-text {
      //   display: flex;
      //   flex-direction: column;
      //   .social-media-icons {
      //     position: absolute;
      //     bottom: 0;
      //   }
      // }
    }
  }

  //// COOKIE SECTION STYLING ////
  .cookie-container {
    height: 295px;
    opacity: 1;
    .cookie-text {
      padding-left: 86px;
      padding-right: 86px;
    }
    .button-and-settings {
      display: flex;
      gap: 30px;
      flex-direction: row;
      padding-left: 30%;
    }
  }
}
