body {
  //// HEADER ////
  .menu {
    svg {
      width: 150px;
      top: 130px;
      left: 50px;
    }
    .logo {
      display: inline;
      position: absolute;
      z-index: 1;
      top: 120px;
      color: white;
      left: 200px;
    }
    .hamburger {
      top: 150px;
    }
  }

  .menu.menu-open nav {
    width: 417px;
    right: 0;
    height: 1024px;
    ul {
      padding-top: 300px;
      li {
        padding-top: 80px;
      }
    }
  }

  //// MAIN ////
  main {
    margin-top: -100px;
    .background-image {
      background-position: center;
      max-height: 1150px;
    }
    .start-page {
      height: 1133px;
      .quote-card {
        width: 559px;
        margin-top: 450px;
        text-align: left;
        padding-left: 50px;
        top: 0;
        h3 {
          font-size: 40px;
        }
      }
      .button-container {
        flex-direction: row;
        gap: 31px;
        justify-content: center;
        .button-one {
          top: 20px;
        }
        .button-two {
          top: 20px;
        }
      }
    }
  }

  //// MENU SECTION ////
  .food-menu-section {
    .menu-heading {
      font-size: 40px;
    }
    .food-menu-container {
      flex-direction: row !important; //Varför behöver man important här? funkar ej utan
      flex-wrap: wrap;
      width: 600px;
      margin: 0 auto;
      justify-content: space-around;
    }
  }

  //// FOOTER ////
  footer {
    position: relative;
    height: 434px;

    address {
      text-align: left;
      position: absolute;
      left: 50px;
      top: 35px;
      font-style: normal;
      display: inline;
      line-height: 2;
    }

    .subscribe-layout {
      display: flex;
      flex-direction: column;
      padding-top: 150px;
      p {
        text-align: left;
        margin-left: 50px;
      }
      form {
        padding-top: 25px;
        flex-direction: row;
        align-items: left;
        gap: 14px;
        margin-left: 50px;

        input {
          top: 0;
          margin-bottom: 0;
          width: 355px;
        }
      }
    }
  }

  //// COOKIE SECTION STYLING ////
  .cookie-container {
    height: 295px;
    .cookie-text {
      padding-left: 86px;
      padding-right: 86px;
    }
    .button-and-settings {
      display: flex;
      gap: 30px;
      flex-direction: row;
      padding-left: 30%;
    }
  }
}
